#header {
  background: #1E1E1E;
  overflow: hidden;
  width: 100%;
}
.search-form {
  flex: 1 1 auto;
  display: inline-block;
  margin-left: 0.5rem;
  overflow: hidden;
  position: relative;
  transition: width linear 400ms;
  vertical-align: top;
  white-space: nowrap;
  width: 0;
}
.search-form input,
.search-form button {
  flex: 0 1 auto;
}
.search-form input,
.search-form button.icon-search {
  border: none;
  border-radius: 0;
  flex: 0 1 auto;
  margin: 0;
  padding: 0.5rem;
}
.search-form input {
  color: #FFFFFF;
  font-size: 1.6rem;
  border-bottom: 0.2rem solid #FFFFFF;
  height: 2.8rem;
  outline: none;
  margin: 0 0 0.7rem 0;
  padding: 0.5rem;
  width: calc(100% - 2.2rem);
}
.search-form button.icon-search {
  border-left: none;
  cursor: pointer;
  display: none;
}
.search-form button.icon-search:hover,
.search-form button.icon-search:focus {
  background: #008DDF;
  color: #FFFFFF;
  outline: none;
}
.search-form button.icon-close {
  font-size: 1.2rem;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  left: 0.2rem;
  position: relative;
  top: 0.5rem;
}
.search-form button.icon-close:hover,
.search-form button.icon-close:focus {
  background: transparent;
  color: #008DDF;
  cursor: pointer;
  outline: none;
}
.search-form input:focus + button.icon-search:hover {
  background: #008DDF;
}
.search-form input,
.search-form button {
  background: transparent;
}
.search-form ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.search-form ::-moz-placeholder {
  color: #FFFFFF;
}
.search-form :-ms-input-placeholder {
  color: #FFFFFF;
}
.search-form :-webkit-autofill,
.search-form :-webkit-autofill:hover,
.search-form :-webkit-autofill:focus {
  border-bottom-color: #008DDF;
  -webkit-text-fill-color: #FFFFFF;
  -webkit-box-shadow: 0 0 0 1000px #1E1E1E inset;
  transition: background-color 5000s ease-in-out 0s;
}
#main .search-form {
  background: #4A4A4A;
}
#main .search-form input {
  border: 0.2rem solid #008DDF;
  border-right: none;
  max-width: 50rem;
}
#main .search-form button {
  border: 0.2rem solid #008DDF;
  border-left: none;
  order: 1;
}
#main-nav {
  height: 0;
  overflow: hidden;
  transition: height 300ms ease;
  width: 100%;
}
#main-nav nav {
  margin: 0 auto;
}
#main-nav a {
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: line-through;
  display: block;
  color: #FFFFFF;
  padding: 1rem 3.7rem;
  white-space: nowrap;
}
@media (min-width: 768px) {
  #main-nav a {
    font-size: 1.8rem;
    text-decoration: line-through;
  }
}
#main-nav a:hover,
#main-nav a:focus {
  background: #008DDF;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
#main-nav a.image-menu-item.hidden {
  display: none;
}
#main-nav a[href="/search"] {
  display: inline-block;
  padding-right: 0.5rem;
  overflow: auto;
}
#main-nav a[href="/search"]:hover,
#main-nav a[href="/search"]:focus {
  background: transparent;
}
#main-nav a[href="/search"]:hover::before,
#main-nav a[href="/search"]:focus::before {
  color: #008DDF;
}
#main-nav a[href="/search"]::before {
  content: "\e913";
  float: left;
  font-family: "byutv3org";
}
#main-nav > a[href^="/account"] {
  display: none;
}
#main-nav a[href^="/account"] {
  position: relative;
}
#main-nav a[href^="/account"]::before {
  content: "\e923";
  font-family: "byutv3org";
  float: left;
}
#main-nav.expand-search .search-form {
  width: calc(100% - 10rem);
}
.image-menu-item img {
  display: block;
  height: 2.8rem;
  transition: opacity 1s,transform .5s;
}
.image-menu-item img:hover,
.image-menu-item img:focus {
  transform: scale3d(1.05, 1.05, 1);
}
#sub-nav {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 4.8rem;
  justify-content: flex-end;
  padding: 1rem 3.2rem;
  position: relative;
}
#sub-nav.space-between {
  justify-content: space-between;
}
#sub-nav::before {
  background: rgba(0, 0, 0, 0.65);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
#sub-nav .image-menu-item,
#menu-button {
  flex: 0 1 auto;
  z-index: 200;
}
#sub-nav .image-menu-item {
  margin: 0 auto;
}
#sub-nav .image-menu-item :focus {
  opacity: 0.8;
}
#menu-button {
  color: #FFFFFF;
  font-size: 1.1rem;
  font-weight: 700;
  background: none;
  border: 0.1rem solid #FFFFFF;
  border-radius: 100%;
  box-shadow: 0 0.1rem 0.1rem 0 #000000;
  cursor: pointer;
  opacity: 0;
  outline: none;
  padding: 0.75rem;
  text-shadow: 0 0.05rem 0.1rem #000000;
  transition: all 300ms linear;
}
#menu-button.visible {
  opacity: 1;
}
.overhang #header {
  background: transparent;
}
.overhang #main-nav {
  background: #1E1E1E;
}
.overhang #sub-nav {
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.overhang #sub-nav::before {
  display: none;
}
@media (max-width: 511px) {
  #main-nav nav a[href^="/account"] {
    overflow: auto;
  }
  #main-nav nav a[href^="/account"]:after {
    content: "Settings";
    left: 7rem;
    position: absolute;
  }
}
@media (min-width: 512px) {
  #main-nav {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 1rem 5.2rem;
    left: 0;
    position: absolute;
    top: 0;
  }
  #main-nav .search-form {
    background: #000000;
    left: 0;
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
    margin-left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity linear 400ms 200ms;
    width: 100%;
    z-index: 300;
  }
  #main-nav .search-form input {
    margin-left: 0;
    max-width: 50%;
    transition: width linear 400ms;
    width: 0;
  }
  #main-nav .search-form .icon-search {
    display: inline-block;
    margin-left: 25%;
  }
  #main-nav.expand-search .search-form {
    transition: opacity linear 400ms;
    opacity: 1;
    pointer-events: all;
    width: 100%;
  }
  #main-nav.expand-search .search-form input {
    transition: width linear 400ms 200ms;
    width: calc(100% - 5.8rem);
  }
  #main-nav nav {
    align-items: center;
    display: flex;
    flex: 2 1 0;
    justify-content: space-between;
    max-width: 80vw;
    position: relative;
  }
  #main-nav nav a {
    padding: 0;
  }
  #main-nav nav a:not(.image-menu-item) {
    position: relative;
    top: 0.2rem;
  }
  #main-nav nav a:hover,
  #main-nav nav a:focus {
    background: transparent;
    color: #008DDF;
  }
  #main-nav nav a[href="/search"] {
    display: block;
    float: left;
    padding: 0;
  }
  #main-nav nav a[href="/search"]:hover {
    color: #008DDF;
  }
  #main-nav nav a[href="/search"]:hover::before {
    background: transparent;
  }
  #main-nav nav a[href="/search"]::before {
    padding: 0.1rem;
  }
  #main-nav a[href^="/account"] {
    display: block;
    padding: 0;
  }
  #main-nav a[href^="/account"]::before {
    padding: 0.1rem;
  }
  #main-nav a[href^="/account"]:hover,
  #main-nav a[href^="/account"].active,
  #main-nav a[href^="/account"]:focus {
    background: none;
    color: #008DDF;
  }
  #sub-nav {
    display: none;
  }
  body.overhang #main {
    margin-top: 0;
  }
  body.overhang #main-nav {
    background: rgba(0, 0, 0, 0.6);
    z-index: 300;
  }
  body:not(.overhang) .search-form {
    z-index: 200;
  }
  body:not(.overhang) #main-nav {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  body:not(.overhang) #main-nav a {
    z-index: 200;
  }
  body:not(.overhang) #main-nav::before {
    background: rgba(0, 0, 0, 0.65);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }
}
@media (min-width: 768px) {
  #main-nav nav {
    max-width: calc(76.8rem - 20vw);
  }
  #main-nav .image-menu-item img {
    max-width: 7rem;
  }
}
@media (min-width: 1024px) {
  #main-nav nav {
    max-width: calc(102.4rem - 20vw);
  }
}
@media (min-width: 1280px) {
  #main-nav nav {
    max-width: 102.4rem;
  }
}
