.default {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.font-item-title {
  color: #FFFFFF;
  font-size: 1.8rem;
}
.font-item-subtitle {
  color: #9B9B9B;
}
.font-list-label {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 700;
}
.font-slick-smallicon {
  color: #9B9B9B;
  font-size: 2rem;
}
.font-hero-title {
  font-size: 3.3rem;
  font-weight: 100;
}
.font-hero-subtitle {
  font-size: 2rem;
  font-weight: 100;
}
.font-list-title {
  font-size: 2.2rem;
  font-weight: 700;
}
.font-list-viewall {
  font-size: 1.3rem;
}
.font-list-nocontent {
  font-size: 2rem;
  color: #9B9B9B;
}
.font-list-icon {
  font-size: 2rem;
}
.font-dropdown-icon {
  font-size: 1.3rem;
}
.font-dropdown-text {
  color: #FFFFFF;
  font-size: 2rem;
}
.font-item-inner-description {
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: 100;
}
.font-item-inner-time {
  color: #FFFFFF;
  font-size: 1.3rem;
  font-weight: 100;
}
.font-banner-description {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 100;
}
.font-banner-title {
  color: #FFFFFF;
  font-size: 1.8rem;
}
@media (min-width: 512px) {
  .font-banner-title {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .font-banner-title {
    font-size: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .font-banner-title {
    font-size: 3rem;
  }
}
.font-banner-subtitle {
  color: #FFFFFF;
}
@media (min-width: 1024px) {
  .font-banner-subtitle {
    font-size: 2rem;
  }
}
.font-banner-label {
  color: #FFFFFF;
  font-size: 1.3rem;
  font-weight: 700;
}
.font-slick-largeicon {
  color: #9B9B9B;
  font-size: 5rem;
}
@media (min-width: 1024px) {
  .font-slick-largeicon {
    font-size: 6rem;
  }
}
.font-branding-title {
  color: #FFFFFF;
  font-size: 2.5rem;
}
@media (min-width: 1024px) {
  .font-branding-title {
    font-size: 3rem;
  }
}
.font-branding-subtitle {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 200;
}
@media (min-width: 1024px) {
  .font-branding-subtitle {
    font-size: 2rem;
  }
}
.font-branding-icon {
  color: #FFFFFF;
  font-size: 2.2rem;
}
@media (min-width: 512px) {
  .font-branding-icon {
    font-size: 1.8rem;
  }
}
.font-icon-separator {
  color: #FFFFFF;
  font-size: 2rem;
}
.font-menu {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .font-menu {
    font-size: 1.8rem;
  }
}
.font-menu-button {
  color: #FFFFFF;
  font-size: 1.1rem;
  font-weight: 700;
}
.font-menu-smallicon {
  font-size: 1.2rem;
  color: #FFFFFF;
}
.font-menu-input {
  color: #FFFFFF;
  font-size: 1.6rem;
}
.font-footer {
  color: #9B9B9B;
}
.font-document-title {
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: 300;
}
.font-document-link {
  color: #646464;
  font-size: 1.6rem;
}
.font-player-signin {
  font-size: 3rem;
}
.font-player-icon {
  font-size: 2rem;
}
.font-schedule-day {
  color: #646464;
  font-size: 1.8rem;
}
.font-schedule-icon {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 1.8rem;
}
.font-schedule-time {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 1.8rem;
}
.font-schedule-label {
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 700;
}
.font-schedule-title {
  color: #FFFFFF;
  font-size: 2.2rem;
  font-weight: 300;
}
.font-schedule-subtitle {
  color: #9B9B9B;
  font-size: 1.8rem;
  font-weight: 300;
}
.font-schedule-description {
  color: #9B9B9B;
  font-size: 1.8rem;
  font-weight: 300;
}
.font-schedule-firstline {
  font-size: 2.2rem;
}
.font-form-hint {
  font-size: 1.3rem;
}
.font-form-list {
  font-size: 1.7rem;
}
.font-form-subtitle {
  font-size: 2rem;
  font-weight: 700;
}
.font-form-legend {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 500;
}
.font-form-icon {
  font-size: 1.6rem;
}
.font-form-label {
  font-size: 1.5rem;
}
.font-form-input {
  font-size: 1.5rem;
}
.font-form-button {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 700;
}
.font-vex-text {
  color: #000000;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
}
.font-vex-button {
  color: #FFFFFF;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
.font-gallery-arrow {
  color: #FFFFFF;
  font-size: 2rem;
}
@media (min-width: 512px) {
  .font-gallery-arrow {
    font-size: 3rem;
  }
}
.font-gallery-xicon {
  color: #FFFFFF;
  font-size: 2rem;
}
.font-gallery-title {
  color: #9B9B9B;
  font-family: "Nunito";
  font-size: 1.8rem;
  font-weight: 300;
}
.font-gallery-description {
  color: #9B9B9B;
  font-family: "Nunito";
  font-size: 1.5rem;
  font-weight: 300;
}
.font-tint-default {
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
}
.font-tint-primary {
  font-size: 1.8rem;
  font-weight: 100;
}
.font-tint-secondary {
  font-size: 1.8rem;
}
.font-tint-hypetemp {
  font-size: 2rem;
}
.font-tint-textonly {
  font-size: 8rem;
}
