.list.gallery section {
  cursor: pointer;
}
.list.gallery section:not(.error) {
  outline: none;
}
.list.gallery figure {
  pointer-events: none;
}
.list.gallery img {
  height: 20rem;
  margin: 0 auto;
  width: auto;
}
.grid-layout .list.gallery section {
  margin: 0;
}
.grid-layout .list.gallery section + section {
  margin-top: 2rem;
}
.grid-layout .list.gallery section img {
  height: auto;
  width: 100%;
}
.vex {
  z-index: 100000;
}
#vex-controls {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1111;
}
#vex-controls .vex-close {
  background: rgba(0, 141, 223, 0.5);
  cursor: pointer;
  margin-bottom: 2rem;
  padding: 1rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 4rem;
}
#vex-controls .vex-close::before {
  color: #FFFFFF;
  font-size: 2rem;
  background: none;
  content: "\e900";
  font-family: "byutv3org";
  padding: 0;
}
#vex-controls .vex-close:hover {
  background: #008ddf;
}
#vex-controls .icon-left-arrow,
#vex-controls .icon-right-arrow {
  bottom: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 2.6rem;
  justify-content: center;
  margin: auto;
  padding: 2rem;
  position: absolute;
  width: 8.6rem;
}
#vex-controls .icon-left-arrow::before,
#vex-controls .icon-right-arrow::before {
  color: #FFFFFF;
  font-size: 2rem;
  background: rgba(0, 141, 223, 0.5);
}
@media (min-width: 512px) {
  #vex-controls .icon-left-arrow::before,
  #vex-controls .icon-right-arrow::before {
    font-size: 3rem;
  }
}
#vex-controls .icon-left-arrow:hover::before,
#vex-controls .icon-right-arrow:hover::before {
  background: #008ddf;
}
#vex-controls .icon-left-arrow.hidden,
#vex-controls .icon-right-arrow.hidden {
  display: none;
}
#vex-controls .icon-left-arrow {
  align-items: center;
  left: 0;
  margin-left: 2rem;
}
#vex-controls .icon-left-arrow::before {
  padding: 1rem 3rem 1rem 3.6rem;
}
#vex-controls .icon-right-arrow {
  align-items: center;
  margin-right: 2rem;
  right: 0;
}
#vex-controls .icon-right-arrow::before {
  padding: 1rem 3.6rem 1rem 3rem;
}
div.gallery.vex.vex-theme-plain {
  padding: 0;
  pointer-events: none;
}
div.gallery.vex.vex-theme-plain .vex-overlay {
  display: none;
}
div.gallery.vex.vex-theme-plain .vex-content {
  animation: none;
  align-items: center;
  background: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0;
  width: initial;
}
div.gallery.vex.vex-theme-plain .vex-content > .vex-close {
  display: none;
}
div.gallery.vex.vex-theme-plain .vex-content section {
  background: #FFFFFF;
  padding: 2rem;
  pointer-events: all;
  position: relative;
  margin: 0 auto;
  max-height: 100%;
  max-width: calc(100% - 4rem);
}
div.gallery.vex.vex-theme-plain .vex-content img {
  height: auto;
  margin: 0 auto;
  max-height: calc(100vh - 24rem);
  max-width: 100%;
  width: auto;
}
div.gallery.vex.vex-theme-plain .vex-content h1,
div.gallery.vex.vex-theme-plain .vex-content p {
  margin: 0;
}
div.gallery.vex.vex-theme-plain .vex-content h1 {
  color: #9B9B9B;
  font-family: "Nunito";
  font-size: 1.8rem;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div.gallery.vex.vex-theme-plain .vex-content p {
  color: #9B9B9B;
  font-family: "Nunito";
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 1rem;
  hyphens: auto;
  line-height: 2.2rem;
  max-height: 6.6rem;
  overflow: hidden;
  padding-right: 1em;
  position: relative;
}
div.gallery.vex.vex-theme-plain .vex-content p::before,
div.gallery.vex.vex-theme-plain .vex-content p::after {
  line-height: 2.2rem;
}
div.gallery.vex.vex-theme-plain .vex-content p::before {
  bottom: 0;
  content: "\02026";
  position: absolute;
  right: 0.5rem;
}
div.gallery.vex.vex-theme-plain .vex-content p::after {
  background: #000000;
  content: "";
  height: 1em;
  margin-top: 0.3em;
  position: absolute;
  right: 0;
  width: 1em;
}
div.gallery.vex.vex-theme-plain .vex-content footer {
  margin-top: 2rem;
  max-height: 5.6rem;
  padding: 0 4rem 0 0;
  position: relative;
}
div.gallery.vex.vex-theme-plain .vex-content footer a {
  color: #9B9B9B;
  position: absolute;
  right: 0;
  top: 0;
}
div.gallery.vex.vex-theme-plain.vex-closing .vex-content {
  animation: vex-fadeout 0.5s;
}
@media (min-width: 512px) {
  .list.gallery .list section:not(.error) {
    overflow: hidden;
  }
  .grid-layout .list.gallery section + section {
    margin-top: 0;
  }
  div.gallery.vex.vex-theme-plain .vex-content section {
    max-width: calc(100% - 18rem);
  }
  #vex-controls .icon-left-arrow,
  #vex-controls .icon-right-arrow {
    bottom: 0;
    height: 11rem;
    top: 0;
    width: 5rem;
  }
  #vex-controls .icon-left-arrow::before,
  #vex-controls .icon-right-arrow::before {
    min-height: 3rem;
  }
  #vex-controls .icon-left-arrow::before {
    padding: 4rem 0.5rem 4rem 1.5rem;
  }
  #vex-controls .icon-right-arrow::before {
    padding: 4rem 1.5rem 4rem 0.5rem;
  }
}
@media (min-height: 400px) {
  #vex-controls .vex-close {
    left: 0;
    margin: auto;
    right: 0;
  }
  div.gallery.vex.vex-theme-plain .vex-content img {
    max-height: calc(100vh - 37.2rem);
  }
}
