---
layout: default
---

<div class="home">

    {% for post in site.posts %}
     
        <details>
            
            <summary>
                <div class="detail-holder">
        <h2 id="summary">
          {{ post.title | escape }}
        </h2>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <h2 id="summary">{{ post.date | date: date_format }}</h2>
        </div>
        </summary>
        {{ post }}
            
      </details>

    {% endfor %}

</div>
